<loading [visible]="loading"></loading>

<div class="container">
  <div class="row">
    <div class="col-md-12 page-container">

      <div class="row mb10 mt10">
        <div class="col-md-12">
          <h4>Repositories of {{username}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 form-group" *ngFor="let repo of repositories">
          <github-repository-card [repo]="repo"></github-repository-card>
        </div>
      </div>

    </div>
  </div>
</div>

<githor-paginator
  [visible]="showPaginator()"
  (nextPage)="nextPage()"
  (previousPage)="previousPage()">
</githor-paginator>
