<loading [visible]="loading"></loading>

<div class="container">
  <div class="row">
    <div class="col-md-12 page-container">

      <div class="row mb20 mt20">
        <div class="col-md-3 col-sm-3">
          <md-form-field class="full">
            <input mdInput placeholder="Username"
                   [(ngModel)]="searchConfig.userName"
                   (ngModelChange)="searchConfig.page = 1">
          </md-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-form-field class="full">
            <input mdInput placeholder="Place (Brazil as default)" [(ngModel)]="searchConfig.place">
          </md-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-form-field class="full">
            <input mdInput placeholder="Language" [(ngModel)]="searchConfig.language">
          </md-form-field>
        </div>
        <div class="col-md-3 col-sm-3 text-right">
          <button md-raised-button color="primary" (click)="getUsers()">Search users</button>
        </div>
      </div>

      <div class="row" *ngIf="showUsersAndPaginator()">
        <div class="col-md-3 col-sm-6 form-group" *ngFor="let user of users">
          <github-user-card
            [user]="user"
            (commentEvt)="commentUser($event)">
          </github-user-card>
        </div>
      </div>

      <div class="row mt50" *ngIf="showNotFound()">
        <div class="col-md-12 text-center">
          <img style="height: 200px" src="../../../assets/img/panda.png" alt="It's a panda!">
          <h5 class="mt15">404!</h5>
          <h5>It's not the user you were trying to find, ok, but isn't it cute?</h5>
        </div>
      </div>

    </div>
  </div>
</div>

<githor-paginator
  [visible]="showUsersAndPaginator()"
  (nextPage)="nextPage()"
  (previousPage)="previousPage()">
</githor-paginator>
