<md-card>
  <h4>{{repo.name}}</h4>

  <md-card-content style="min-height: 130px !important">
    <p><strong>It is Fork?</strong> {{repo.fork ? 'Yes' : 'No'}}</p>
    <p><strong>Homepage?</strong> {{repo.homepage || 'Doesn\'t have one'}}</p>
    <p><strong>Has Issues?</strong> {{repo.hasIssues ? 'Yes =(' : 'Nope, it\'s a perfect repo'}}</p>
  </md-card-content>

  <md-card-actions>
    <button md-icon-button
            color="primary"
            mdTooltip="Open in Github" (click)="openInGithub()">
      <i class="githor githor-github zmdi-hc-2x"></i>
    </button>
    <button md-icon-button
            color="primary"
            mdTooltip="{{'Description: ' + (repo.description || 'Doesn\'t have one')}}">
      <i class="githor githor-comment-alt-text zmdi-hc-2x"></i>
    </button>
  </md-card-actions>
</md-card>
