<mat-card>
  <h5>{{repo.name}}</h5>

  <mat-card-content style="min-height: 130px !important">
    <p><strong>It's Forked?</strong> {{repo.fork ? 'Yes' : 'No'}}</p>
    <p><strong>Homepage?</strong> {{repo.homepage || 'Doesn\'t have one'}}</p>
    <p>
      <strong>Has Issues?</strong>
      {{repo.openIssuesCount ? repo.openIssuesCount + ' =(' : 'Nope, it\'s a perfect repo'}}
    </p>
    <p>
      <i class="githor githor-star"> {{repo.stargazersCount}}</i>
      <i class="githor githor-eye"> {{repo.watchersCount}}</i>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button md-icon-button
            color="primary"
            matTooltip="Open in Github" (click)="openInGithub()">
      <i class="githor githor-github zmdi-hc-2x"></i>
    </button>
    <button md-icon-button
            color="primary"
            matTooltip="{{'Description: ' + (repo.description || 'Doesn\'t have one')}}">
      <i class="githor githor-comment-alt-text zmdi-hc-2x"></i>
    </button>
  </mat-card-actions>
</mat-card>
