<nav class="navbar-default nav-top">
  <div class="container">

    <div class="navbar-header">
      <a class="pull-right toggle">
        <button md-icon-button
                (click)="isCollapsed = !isCollapsed"
                class="navbar-toggle collapsed">
          <i class="githor githor-menu"></i>
        </button>
      </a>
      <a class="pull-right account-mobile">
        <button class="githor-info-icon" md-icon-button style="color: white;">
          <i class="githor githor-account" style="padding-left: 2px"></i>
        </button>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="githor-nav-collapse"
         (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isCollapsed">

      <ul class="nav navbar-nav menus">
        <li>
          <a [routerLink]="'./users'" class="pl0" (click)="collapse()">
            <button md-button>Users</button>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-right-full">
        <li>
          <a class="p-l-0">
            <button class="githor-info-username" md-button style="color: white;">
              <span class="githor-user-name">Neri Bez Fontana</span>
              <i class="githor githor-chevron-down" style="padding-left: 2px"></i>
            </button>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>
